body{
  background-color:rgb(122, 235, 212);
 color:rgb(40, 74, 30);
   font-weight:bold;
    

}




h1 {
  text-align: center;
  text-shadow: 2px 2px #a503fc;


}

.display {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #0da67b;
  border-bottom: 5px solid #0da67b;
}

.column {
  width: 18%;
  padding: 30px 30px;
  
}

.images img {
  display: block;
  height: 100px;
  width: 150px;
  margin: 20px;
}

.songs p {
  font-size: 18px;
  height: 100px;
  font-weight:bold;
  margin: 20px;
}

.artists p {
  font-size: 18px;
  height: 100px;
  margin: 20px;
}

.lengths p {
  font-size: 16px;
  height: 100px;
  margin: 20px;
  text-align: right;
}

.links a {
  display: block;
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  margin: 20px;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  background-color:#a503fc;
}
